<!DOCTYPE html>{% load socialaccount %}{% load static tz %}

<html lang="en" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Envelope</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% get_static_prefix %}front/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% get_static_prefix %}front/css/style.css" rel="stylesheet">

    <!-- Social Button CSS -->
    <link href="{% get_static_prefix %}front/css/bootstrap-social.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% get_static_prefix %}front/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
      

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Envelope</h1>
            <h3>Envelope helps you Schedule your posts on Social Networking sites</h3>
            <br>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#SignIn">Login</button>
            <!-- Modal -->
            <div id="SignIn" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Login</h3>
                        </div>


                        <div class="modal-body">
                            
                            
                       
                            
                            
                        
                        <div class="pure-g">
						      <div class="pure-u-1-5"></div>
						      <div class="pure-u-3-5">
							<div class="connect">
							  {% if request.user.is_authenticated %}
							  <p>
							    <a href="/">Home</a> | 
							    <a href="{% url "account_logout" %}">Logout</a>
							  </p>
							{% endif %}
							  <p><strong class="curr_time">{% localtime on %}{{ current_time }} {% get_current_timezone as tz %}{{ tz }}{% endlocaltime %}</strong></p>
							</div>
							<ul class="messages">
							    {% if messages %}
							    {% for message in messages %}
							    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
								{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
								{{ message }}
							    </li>
							    {% endfor %}
							    {% endif %}
							</ul>
						</div>	
						<div class="modal-body">
							<a class="btn btn-block btn btn-lg btn-twitter" href="{% provider_login_url "twitter" process="login" %}">
                                <i class="fa fa-twitter"></i> Login with Twitter
                            </a>
                            
                            <a  class="btn btn-block btn btn-lg btn-facebook" href="{% provider_login_url "facebook" method="oauth2" process="login" %}">
                                <i class="fa fa-facebook"></i> Login with Facebook
                            </a>
						</div>
						<h3>OR</h3>
						<form method="post" action="{% url "account_login" %}" class="pure-form pure-form-stacked">
						  {% csrf_token %}
						  {{ form.as_p }}
						  <input type="submit" value="Login" class="pure-button pure-button-primary" >
						  <input type="hidden" name="next" value="{% url "scheduled_posts_list" %}" >
						  <p><a href="{% url "password_reset" %}">Forgot Username / Password?</a></p>
						</form>
						      </div>
						      <div class="pure-u-1-5"></div>
						    </div>
                    </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <button type="button" class="btn btn-info btn-lg" ><a href="{% url "account_signup" %}">SignUp</a></button>
            <!-- Modal -->
            <div id="SignUp" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Signup</h3>
                        </div>
                        <div class="modal-body">
                            
                            <br>
                            <a class="btn btn-block btn btn-lg btn-google" href="?login&oauth_provider=google">
                                <i class="fa fa-google"></i> Log in with Google+
                            </a>
                           
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center">
                    <a href="#" target="_blank" style="text-decoration:none;">About Us</a>
                </div>
                <div class="col-lg-2 text-center">
                    <a href="#" target="_blank" style="text-decoration:none;">FAQ</a>
                </div>
                <div class="col-lg-2 text-center">
                    <a href="#" target="_blank" style="text-decoration:none;">Our Team</a>
                </div>
                <div class="col-lg-2 text-center">
                    <a href="#" target="_blank" style="text-decoration:none;">Contact Us</a>
                </div>

                <div class="col-lg-4 text-center">
                    <p>&copy; 2015 Envelope - All Rights Reserved <a href="#top" target="_blank" style="text-decoration:none;">Envelope</a> </p>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section> 

    <!-- jQuery -->
    <script src="{% get_static_prefix %}front/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% get_static_prefix %}front/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/moment-timezone-with-data-2010-2020.min.js"></script>
    <script type="text/javascript">
      (function() {
	  var timeHolder = document.querySelector(".curr_time");
	  var tz = moment.tz.guess();
          timeHolder.innerHTML = moment.tz(tz).format("YYYY-MM-DD HH:mm a z");
	  setInterval(function() {
	      timeHolder.innerHTML = moment.tz(tz).format("YYYY-MM-DD HH:mm a z");
	  }, 60000);
      })();
    </script>
    {% block extra_js %}{% endblock %}

   

</body>

</html>

